/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 2.6rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  color: #28283D;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h3 {
  color: #4D96A9;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

h4 {
  font-size: 1.6rem;
  color: #87879D;
}

p {
  color: #87879D;
  margin-bottom: 3rem;
}

/* --------------------------
------ Header styles --------
----------------------------*/

header {
  margin-bottom: 6.6rem;
}

.logo {
  margin: 3rem auto;
}

.header-image {
  overflow: hidden;
  margin-bottom: 5rem;
}

.mobile-img {
  width: 110%;
  transform: translateX(-5%);
}

.desktop-img {
  display: none;
}

.header-info {
  max-width: 33rem;
  margin: 0 auto;
}

/* Button styles */

button {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  display: block;
  background-color: #855FB1;
  color: #FFFFFF;
  border: 1px solid #855FB1;
  margin: 1.6rem auto;
  padding: 2rem 3rem;
  border-radius: 3rem;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

button span {
  color: #D9B8FF;
}

button:hover {
  background-color: #B18BDD;
  border: 1px solid #B18BDD;
}

.tourquoise {
  background-color: #4D96A9;
  border: 1px solid #4D96A9;
}

.tourquoise:hover {
  background-color: #71C0D4;
  border: 1px solid #71C0D4;
}

.tourquoise span {
  color: #8FE3F9;
}

/* --------------------------
------ Section one-----------
----------------------------*/

.section-one {
  margin-bottom: 6.6rem;
}

.line {
  border-left: 1px solid rgba(135, 135, 157, .25);
  height: 8.4rem;
  transform: translateX(50%);
}

.circle {
  border: 1px solid rgba(135, 135, 157, .25);
  border-radius: 50%;
  height: 5.6rem;
  width: 5.6rem;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 6.4rem;
}

.image-gallery img {
  max-width: 15rem;
  border-radius: 1rem;
}

.section-info {
  max-width: 33rem;
  margin: 0 auto;
}

/* --------------------------
------ Section two-----------
----------------------------*/

.background-img {
  background: linear-gradient(
    rgba(77, 150, 169, .8), 
    rgba(77, 150, 169, .8)),
    url(../assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 42.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-img h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.background-img p {
  color: #fff;
  margin-bottom: 1rem;
}

.section-two .circle {
  transform: translateY(2.8rem);
  background-color: #fff;
}

.section-two .line {
  transform: translateX(50%) translateY(2.8rem);
}

/* -------------------------
-------Tablet styles -------
----------------------------*/

@media screen and (min-width: 700px) {
  .header-info {
    max-width: 45rem;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .buttons button {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .section-info {
    max-width: 57rem;
  }

  .section-info h2 {
    font-size: 4rem;
    line-height: 4.4rem;
    max-width: 44rem;
    margin: 0 auto;
  }

  .background-img {
    background: linear-gradient(
      rgba(77, 150, 169, .8), 
      rgba(77, 150, 169, .8)),
      url(../assets/tablet/image-footer.jpg);
}

/* -------------------------
-------Desktop styles -------
----------------------------*/

@media screen and (min-width: 1100px) {
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    width: 110%;
  }

  .desktop-img-left {
    transform: translateX(-10%);
  }

  .background-img {
    background: linear-gradient(
      rgba(77, 150, 169, .8), 
      rgba(77, 150, 169, .8)),
      url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-gallery img {
    max-width: 25.5rem;
  }

  .image-gallery {
    margin-bottom: 8.3rem;
  }
  
  .background-img {
    height: 30rem;
  }
  
  .section-two .section-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 111rem;
  }

  .section-two .section-info h2,
  .section-two .section-info p {
    text-align: left;
  }

  .section-two .section-info p {
    width: 35rem;
    margin-right: 9rem;
    align-self: flex-start;
  }

    
}